$colorDanger: rgb(250, 127, 127);
$colorDangerHover: red;
$colorPrimary: rgb(96, 96, 231);
$colorPrimaryHover: rgb(19, 19, 235);
$colorSecondary: rgb(204, 204, 248);
$colorSecondaryHover: rgb(160, 160, 255);

$colorSeatAvailable: white;
$colorSeatOccupied: rgb(194, 11, 11);
$colorSeatSelected: rgb(172, 170, 170);

$fontWeightBold: 500;
$fontWeightBolder: 700;
