.selectWrapper {
  margin-top: 20px;
  width: 250px;
  height: 30px;
  text-align: center;
  .select {
    width: 100%;
    text-align: center;
    height: 100%;
    font-size: large;
    font-weight: 700;
    border: 2px solid rgb(113, 113, 247);
    &:focus {
      border: 2px solid rgb(113, 113, 247);
      .option {
        font-weight: 500;
      }
    }
  }
}
